@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

.header {
    background-color: #222222;
    height: 74px;
    width: 100vw;
    padding: 18px 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.header_User,
.header_Cart_Wrap {
    display: none;
}

.header_Search {
    margin-left: 41px;
}

.header_User {
    margin: auto 42px auto 25px;
}

.header {
    padding-left: 32px;
    padding-right: 32px;
}

.header_Cart_Wrap {
    position: relative;
}

.header_Cart_Wrap span {
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -22px;
    color: white;
    background-color: #F16D7F;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}


/* Brand__________________________ */


.brand {
    min-height: 363px;
}

.brand_Left {
    display: none;
}

@media(min-width: 768px) {
    .brand {
        display: flex;
    }

    .brand>div {
        width: 50%;
    }

    .brand_Left {
        display: block;
    }
}

.brand_Left img {
    display: block;
    width: 100%;
}

.brand_Right {
    background-color: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_text {
    border-left: 12px solid;
    border-color: #F16D7F;
    padding-left: 15px;
    color: #222222;
    height: 61px;
}

@media (min-width: 768px) {
    .brand_Right {
        justify-content: left;
        padding-left: 40px;
    }
}

.brand_text__firstRow {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
}

.brand_text__secondRow {
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}

@media (min-width: 786px) {
    .brand_text {
        height: 90px;
    }

    .brand_text__firstRow {
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
    }

    .brand_text__secondRow {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
}

@media (min-width: 1600px) {
    .brand_text {
        height: 100px;
    }

    .brand_Right {
        padding-left: 64px;
    }

    .brand_text__firstRow {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }

    .brand_text__secondRow {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;

    }
}

.brand_text__secondRow span {
    color: #F16D7F;
}

@media (min-width: 768px) {

    .header_User,
    .header_Cart_Wrap {
        display: inline;
    }
}


/* Offers__________________________ */


.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}

@media (min-width: 786px) {
    .offers {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offers_Accesorise {
        grid-column: 1/4;
    }
}

.offers>div {
    position: relative;
    height: 100%;
    width: 100%;
}

.offersText {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offers img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.offersText_Up {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offersText_Down {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}


/* Featured Items_______________ */


.featuredHeader {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.itemsText {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 64px;
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 768px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1600px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

.featuredItem {
    width: 100%;
    display: block;
    background: #F8F8F8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredItemWrap {
    display: flex;
    position: relative;
    flex-direction: column;
    display: block;
}

.featuredBlack {
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    display: none;
    justify-content: center;
    align-items: center;
}

.featuredItem:hover .featuredBlack {
    display: flex;
}

.featuredBlack button {
    position: absolute;
    background: none;
    border: 1px solid white;
    padding: 11px 16px 11px 13px;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.featuredBlack img {
    margin-right: 11px;
    width: 26px;
    height: 24px;
}

.featuredItem_Title {
    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 18px;
}

.featuredItem_Text {
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-left: 18px;
    margin-right: 18px;
}

.featuredItem_Price {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 18px;
}

.buttonAllProduct_Wrap {
    display: flex;
    width: 100%;
}

.buttonAllProduct {
    display: block;
    justify-content: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    padding: 15px 39px 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    background: none;
}

.buttonAllProduct:hover {
    background-color: #F26376;
    color: white;
}


/* Services________________________ */

.services {
    background: #222224;
    margin-top: 64px;
    padding-top: 48px;
    padding-bottom: 81px;
}

.services .container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1600px) {
    .services .container {
        width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .services {
        padding-top: 104px;
        padding-bottom: 104px;
    }

    .services div:not(:first-child) {
        padding-top: 0px;
    }
}

/* .services .container .servicesItem2,
    .services .container .servicesItem3 {
        padding-top: 0px;
    }
} */

.servicesItem {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 307px;
}

.servicesItem2,
.servicesItem3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 307px;
    padding-top: 48px;
}

.servicesItem img,
.servicesItem2 img,
.servicesItem3 img {
    width: 43px;
    height: 31px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 27px;
}

.services_h3 {
    font-family: inherit;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 15px;
}

.services_Text {
    font-family: inherit;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin: 0 auto;
    justify-content: center;
}


/* Subscribe________________________ */

.subscribe {
    background-image: url(images/subscribe_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 110px;
}

.subscribe .container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1600px) {
    .subscribe .container {
        margin: 0 auto;
        width: 1140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.subscribeLeft {
    display: flex;
    flex-direction: column;
}

.subscribe img {
    justify-content: center;
    margin: 0 auto;
}

.subscribeWoman_Text,
.subscribe_h3,
.subscribe_Text {
    text-align: center;
    margin: 0 auto;
}

.subscribeWoman_Text {
    max-width: 343px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    margin-top: 30px;
}

.subscribeRight {
    align-items: center;
    margin-top: 59px;
}

.subscribe_h3 {
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 153.2%;
    color: #222224;
}

.subscribe_Text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 153.2%;
    color: #222224;
    margin-bottom: 22px;
}

.subscribeRight input {
    height: 47px;
    background: #E1E1E1;
    border: none;
    padding: 6px 21px;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
}

.subscribeForm input::-webkit-input-placeholder {
    font-family: inherit;
    color: #222224;
    opacity: 0.67;
}

.subscribeForm input::-moz-placeholder {
    font-family: inherit;
    color: #222224;
    opacity: 0.67;
}

.subscribeForm input:-ms-input-placeholder {
    font-family: inherit;
    color: #222224;
    opacity: 0.67;
}

.subscribeForm input:-moz-placeholder {
    font-family: inherit;
    color: #222224;
    opacity: 0.67;
}

.subscribeRight button {
    height: 47px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #F16D7F;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 6px 16px;
    box-sizing: border-box;
}


/* footer__________________________________ */


.footer {
    background: #222224;
    padding: 43px 62px 9px;
}

.allRights {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin: 0 auto;
}

.footer .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 32px;
    }

    .footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer .container .share {
        margin-bottom: 0px;
    }

    .footer .container .allRights {
        margin: 0;
    }
}


.share {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.share div:not(:first-child) {
    margin-left: 7px;
}

.sharePic {
    background-color: white;
    width: 32px;
    height: 32px;
}

.share div:not(:first-child) {
    padding: 8px 5px 6px 8px;
}

.share div:first-child {
    padding: 8px 5px 6px 11px;
}

.sharePic:hover {
    background-color: #F16D7F;

}